{% extends 'base.html' %}
{% load static %}

{% block title %}Molly ST – Draft Newsletter Dash{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <h3>Draft Newsletters</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Newsletter Title</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if articles %}
                            {% for article in articles %}
                                {% if not article.is_published %}
                                    <tr>
                                      <td><a href="{% url 'draft_newsletter' article.id %}">{{ article.title }}</a></td>
                                      <td>
                                        Draft
                                      </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="product-buttons">
                    <a class="product-button" href="{% url 'newsletters_summary' %}">Past Newsletters</a>
                    <a class="product-button" href="{% url 'admin_dash' %}">Admin Dashboard</a>
                </div>
            </div>
        </center>
    </div>
</div>
{% endblock %}