{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if articles %}
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br>
                        <h3>Published Newsletters</h3>
                        <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Newsletter Title</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for article in articles %}
                                    {% if article.is_published %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'newsletter' article.id %}">{{ article.title }}</a>
                                            </td>
                                            <td>
                                                Published
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="product-buttons">
                            <a class="product-button" href="{% url  'draft_newsletter_summary' %}">Draft Newletters</a>
                            <a class="product-button" href="{% url 'admin_dash' %}">Admin Dashboard</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    {% else %}
        <h1>No Newsletters Yet.</h1>
    {% endif %}
{% endblock %}