{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<center>
			<div class="col-8">
				<br>
				<h3>Subscribers Dashboard</h3>
        <form method="post">  <!-- Ensure the method is set to POST -->
          {% csrf_token %}
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for subscriber in subscribers %}
                <tr>
                  <td>{{ subscriber.email }}</td>
                  <td>
                    <label for="subscribers_{{ subscriber.id }}_is_active">Is subscriber active:</label>
                    <input type="checkbox" name="subscribers_{{ subscriber.id }}_is_active" value="True "{% if subscriber.is_active %}checked{% endif %}>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="product-buttons">
          <p>Untick the checkbox to deactivate subscriber and then click the button to update status:</p>
          <button class="product-button" type="submit">Update Status</button>
          <a class="product-button" href="{% url 'inactive_subscriber_dash' %}">Inactive Subscriber Dashboard</a>
        </form>
      </div>
    </center>
  </div>
</div>
{% endblock %}