{% extends 'base.html' %}
{% load trolley_filters %}
{% block content %}
        <!-- Header-->
        <header class="shop-header">
            <div>
                <h1 class="shop-heading">T<span class="orange">r</span>o<span class="orange">l</span>i</h1>
            </div>
        </header>
        <section class="shop-display">
            {% if trolley_products %}
            {% for product in trolley_products %}
                <div class="checkout-product">
                    <div class="product-item">
                        <div class="item-image-box">  
                            <!-- Product image-->
                            <img class="shop-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </div>
                        <!-- Product details-->
                        <div class="item-detail">
                            <!-- Product name-->
                            <h2>{{ product.name }}</h2>
                            <p class="card-text">{{ product.description }}.</p>
                            {% if product.is_sale %}
                                <!-- Product price-->
                                <p class="line-through">£{{ product.price }}</p>
                                <h4 class="price">£{{ product.sale_price }}</h4>
                            {% else %}
                                <!-- Product price-->
                                <h4 class="price">£{{ product.price }}</h4>
                            {% endif %}
                            <div class="quantity-box">
                                <h5 class="price">Quantity:</h5>
                                <select id="select{{ product.id }}" class="quantity-form">
                                    <option selected>
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                {{ value }}
                                            {% endif %}
                                        {% endfor %}
                                    </option>
                                    {% for i in product.quantity|range %}
                                        <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="product-buttons">
                                <button type="button" data-index="{{ product.id }}" class="product-button update-trolley">Update Quantity</button>
                                <a class="product-button" href="{% url 'shop' %}">Molly's Shop</a>
                                <button type="button" data-index="{{ product.id }}" class="product-button delete-product">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="checking-out">
                <h3>Total: £{{ totals }}</h3>
                <a href="{% url 'checkout' %}" id="checkout" class="view-product-available">Checkout</a>
            </div>
            {% else %}
                <p>There's nothing in your trolley...</p>
            {% endif %}
        </section>
<script>
    // Update trolley
    $(document).on('click', '.update-trolley', function(e){
    e.preventDefault();
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'trolley_update' %}',
    data: {
        product_id: $(this).data('index'),
        product_qty: $('#select' + productid + ' option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
    },

        success: function(json){
          console.log(json)
          // document.getElementById('trolley_quantity').textContent = json.qty
          location.reload();
        },
        error: function(xhr, errmsg, err){

        }
  });

});

  // delete item from trolley

   $(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'trolley_delete' %}',
    data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
    },

        success: function(json){
          //console.log(json)
          // document.getElementById('trolley_quantity').textContent = json.qty
          location.reload();
        },
        error: function(xhr, errmsg, err){

        }
  });

});

</script>

{% endblock %}