{% extends 'base.html' %}
{% load static %}
{% load trolley_filters %}

{% block title %}Molly ST – Trolley{% endblock %}

{% block content %}
    <!-- Header-->
    <header class="checkout-header">
             <div class="header-icon">
                <img src="{% static 'images/trolley-two.png' %}">
            </div>
             <div class="default-font">
                <h1>trolley</h1>
            </div>
             <div class="header-icon">
                <img src="{% static 'images/trolley.png' %}">
            </div>
    </header><div class="svg-wave-under"><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {display: inline-block; animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg></div>
    <section class="shop-display">
        {% if trolley_products %}
            {% for product in trolley_products %}
                <div class="checkout-product">
                    <div class="product-item">
                        <div class="item-image-box">  
                            <!-- Product image-->
                            <img class="shop-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </div>
                        <!-- Product details-->
                        <div class="item-detail">
                            <!-- Product name-->
                            <h2>{{ product.name }}</h2>
                            <p class="card-text">{{ product.description }}.</p>
                            {% if product.is_sale %}
                                <!-- Product price-->
                                <p class="line-through">£{{ product.price }}</p>
                                <h4 class="price">£{{ product.sale_price }}</h4>
                            {% else %}
                                <!-- Product price-->
                                <h4 class="price">£{{ product.price }}</h4>
                            {% endif %}
                            {% if not product.is_size %}
                                <div class=mobile-view>
                                    <div class="quantity-box">
                                        <h5 class="price">Quantity:</h5>
                                        <select class="qty-trolley quantity-form pure-quantity" class="quantity-form">
                                            <option selected>
                                                {% for key, value in quantities.items %}
                                                    {% if key == product.id|slugify %}
                                                        {{ value }}
                                                    {% endif %}
                                                {% endfor %}
                                            </option>
                                            {% for i in product.quantity|range %}
                                              <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="mobile-view">
                                    <div class="quantity-box size-quantities">
                                      <h5 class="price">Size:</h5>
                                      {% for size in sizes %}
                                        <div class="sizes-div">
                                          {% if not size.is_sold_out %}
                                            <div>
                                                <label class="quantity-radio">
                                                    <input type="radio" name="size" value="{{ size.size }}" class="size-radio" />
                                                    <span class="size-name">{{ size.size }}</span>
                                                </label>
                                            </div>
                                            <div class="quantity-select-div">
                                                <select id="{{ size.size }}" class="quantity-form size-quantity">
                                                    <option selected>
                                                        {% for key, value in current_trolley.items %}
                                                            {% if key|startswith:product.id|stringformat:"s" %}
                                                                {% if value.size == size.size %}
                                                                    {{ value.quantity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </option>
                                                    {% for i in size.quantity|range %}
                                                      <option class="quantity-form" value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% else %}
                                            <div class="sold-out-div">
                                              <p class="sold-out size-name line-through">{{ size.size }}</p>
                                            </div>
                                          {% endif %}
                                        </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                {% endif %}
                                <div class="product-buttons">
                                    <button type="button" data-index="{{ product.id }}" data-size="{{ product.is_size }}" class="product-button update-trolley">Update Quantity</button>
                                    <a class="product-button" href="{% url 'shop' %}">Molly's Shop</a>
                                    <button type="button" data-index="{{ product.id }}" class="product-button delete-product">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="checking-out">
                    <h3>Total: £{{ totals }}</h3>
                    <a href="{% url 'checkout' %}" id="checkout" class="view-product-available">Checkout</a>
                </div>
            {% else %}
                <div class="no-items">
                    <p>There's nothing in your trolley...</p>
                    <div class="trolley-buttons">
                        <a class="trolley-button" href="{% url 'shop' %}">Molly's Shop</a>
                    </div>
                </div>
            {% endif %}    
    </section>
<script>
    $(document).on('click', '.update-trolley', function(e) {
    e.preventDefault();
    
        var productid = $(this).data('index');
        console.log(productid)
        var hasSize = $(this).data('size');  // Read the data-size attribute to determine if the product has sizes
        
        if (hasSize == 'True') {  // If the product has sizes
            const selectedSize = $('input[name="size"]:checked').val();
            console.log(hasSize);
            console.log('Selected Size:', selectedSize);
            
            if (!selectedSize) {
                alert("Please select a size.");
                return;
            }

            const selectedQty = $('#' + selectedSize + ' option:selected').val();
            console.log('Selected quantity:', selectedQty);
            
            if (!selectedQty) {
                alert("Please select a quantity.");
                return;
            }

            // AJAX request to update trolley with size and quantity
            $.ajax({
                type: 'POST',
                url: '{% url "trolley_update" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_qty: selectedQty,
                    product_size: selectedSize,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                    location.reload();  // Reload page on success
                },
                error: function(xhr, errmsg, err) {
                    console.log(errmsg);
                }
            });

        } else {  // If the product does not have sizes
            const productRow = $(this).closest('.checkout-product');
            const selectedQty = productRow.find('.qty-trolley option:selected').val();
            console.log('Selected quantity without size:', selectedQty);
            
            if (!selectedQty) {
                alert("Please select a quantity without size.");
                return;
            }

            // AJAX request to update trolley without size
            $.ajax({
                type: 'POST',
                url: '{% url "trolley_update" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_qty: selectedQty,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                    location.reload();  // Reload page on success
                },
                error: function(xhr, errmsg, err) {
                    console.log(errmsg);
                }
            });
        }
    });


  // delete item from trolley********

   $(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'trolley_delete' %}',
    data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
    },

        success: function(json){
          //console.log(json)
          // document.getElementById('trolley_quantity').textContent = json.qty
          location.reload();
        },
        error: function(xhr, errmsg, err){

        }
  });

});

  // Size selection logic
    const sizeRadios = document.querySelectorAll('.size-radio');
    const sizeQuantities = document.querySelectorAll('.size-quantity');

    sizeRadios.forEach((radio, index) => {
      radio.addEventListener('change', function() {
        sizeQuantities.forEach((select, selectIndex) => {
          if (selectIndex === index) { 
            // Show the corresponding quantity dropdown
            select.style.opacity = '1';
            select.style.height = "auto";
            select.style.width = "100%";
          } else {
            select.style.opacity = '0';
            select.style.height = "0";
            select.style.width = "0"; // Hide other quantity dropdowns
          }
        });
      });
    });

  document.addEventListener("DOMContentLoaded", function() {
    // Select all <option> elements with the 'selected' attribute
    let selectedOptions = document.querySelectorAll("option[selected]");

    selectedOptions.forEach(function(option) {
        // Check if the option has no value or the value is empty
        if (!option.textContent.trim()) {
            option.textContent = "0";  // Set the value to '0'
        }
    });
});

</script>

{% endblock %}