{% load static %}

/* general stylings */

* {
	margin: 0;
	padding: 0;
}

:root {
	--transition: all 0.3s linear;
}

.alert {
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background: white;
  padding: 5rem;
  border: white;
  text-align: center;
  align-items: center;
  width: 100%;
}

.alert > div {
	margin: 0 2rem;

}

body {
	display: flex;
	flex-direction: column;
	cursor: url('/static/images/mouse.png'), auto;
}

h1, h2, h3, h4, h5 {
	font-family: "Karla", sans-serif;
	font-weight: 800;
	font-style: normal;
}

p, a, button {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	color: black;
}

button, a {
	cursor: url('.../images/mouse.png') auto;
}

/* animations  */

@keyframes bounce {
	0% {transform: translateY(0);}
	50% {transform: translateY(20px);}
	100% {transform: translateY(0);}
}

@keyframes small-bounce {
	0% {transform: translateY(0px);}
	50%{transform: translateY(5px);}
	100%{transform: translateY(0px);}
}

@keyframes waddle {
	0%{transform: matrix(1, 0, 0.2, 1, 0, 0);}
	50%{transform: matrix(1, 0, 0.1, 1, 0, 0);}
	100%{transform: matrix(1, 0, 0.2, 1, 0, 0);}
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to { transform:translateX(-100%); }
}

@keyframes dl-wave {
  0% {transform: translateX(0)}
  25% {transform: translateX(-25%) scaleY(30%);}
  50% {transform: translateX(-50%) scaleY(100%)}
  75% {transform: translateX(-75%) scaleY(30%);}
  100% {transform: translateX(-100%)}
}


/* Navigation Bar */

nav {
	margin: 2rem 0 2rem 0;
	transition: opacity 2s ease-out;
}

.nav-div {
	display: flex;
	justify-content: space-between;
	position: relative;
}

/*.hatman-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: transform 1s ease-out, width 1s, opacity 1s ease-out, height 1s ease-out;
  position: relative;
  z-index: -10;
  margin: 50px 0 0 0;
}

.hatman-image {
	width: 50%;
	animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hatman-image > img {
	width: 100%;
}

.hatman-scroll {
	/*	transform: translateY(-110%);*/
/*	opacity: 0;*/
	/*	transition: opacity 0.9s ease-out;*/
	/*	z-index: -100;*/
/*	height: 0;
	transform: translateY(-350px);*/
/*	position: fixed;*/
/*	width: 30%;*/
	
/*}*/

.toggle-div {
	width: 30%;
	position: relative;
}

.nav-toggle-open {
  background: white;
  border: none;
  width: 100%;
  text-align: left;
  margin-left: 1rem;
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 1;
  z-index: 10;
}

.nav-toggle-open > i {
	font-size: 3rem;
	transition: transform 0.5s ease;
}

.nav-toggle-open > i:hover {
	transform: translateY(-10px);
}

.nav-toggle-close {
  background: white;
  border: none;
  width: 100%;
  text-align: left;
  margin-left: 1rem;
  opacity: 0;
  z-index: 0;
  position: relative;
  transition: opacity 0.5s ease;
}

.nav-toggle-close > i {
	font-size: 3rem;
}

.nav-options {
	width: 100%;
	max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  text-align: center;
/*  margin: 4rem 0 2rem 0;*/
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e7e5d5;
}

.show-options {
	max-height: 45rem;
	margin: 2rem 0 0 0;
}

.nav-options > li {
	list-style-type: none;
	font-size: 2rem;
	margin: 1rem 0 1rem 0;
	transition: transform 0.5s ease;
	width: 30%;
}

.nav-options > li:hover {
	transform: translateY(-10px);
}

.logo-div {
	width: 30%;
	display: flex;
	position: relative;
/*	opacity: 0;*/
}

#logo-name:hover {
	transform: translateY(-10px);
}

#logo-name {
	text-align: center;
	transition: transform 0.5s ease;
	width: 100%;
	position: relative;
}

.nav-scroll {
/*	transform: translateY(-110%);*/
	opacity: 0;
	z-index: -9;
}

#logo-name > img {
	max-width: 80%;
	height: auto;
	margin: 0 auto 0 auto;
}

.logo-man {
	width: 100%;
	position: absolute;
	z-index: -9;	
	display: none;
	transition: opacity 1s ease-in, transform 0.5s ease;
}

.man-appear {
	z-index: 1;
	display: block;
}

.logo-man:hover {
	transform: translateY(-10px);
}

#logo-man > img {
	width: 100%;
}

.trolley-form {
	display: flex;
	width: 30%;
	justify-content: flex-start;
	padding: 0;
}

.trolley-form > a {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transition: transform 0.5s ease;
}

.trolley-form > a:hover {
	transform: translateY(-10px);
}

.trolley-form > a > i {
	font-size: 3rem;
	margin-right: 1rem;
}

.trolley-form > a > span {
	font-size: 2rem;
	margin-right: 1rem;
}


/* landing page */

.home {
	width: 100%;
}

.slideshow {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #e7e5d5;
	height: auto;
	opacity: 1;
	transition: opacity 1s ease, height 1s ease;
	transition-delay: 1s;
}

.slide {
	position: absolute;
	text-align: center;
	padding: 100px;
}

.slide-paragraph {
	color: white;
	font-size: 1.9rem;
	font-weight: 900;
	text-shadow: 2px 2px #e7d5e0;
}

.backdrop {
	width: 20%;
	position: relative;
	opacity: 0;
}

.backdrop img {
	width: 100%;
}

.landing {
	padding: 0;
  display: flex;
  opacity: 1;
  width: 100%;
  background: #e7e5d5;
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 1s;
  position: relative;
}

.landing-icons {
	opacity: 1;
/*	height: 100vh;*/
	transition: opacity 1s ease, height 1s ease;
	transition-delay: 1s;
	background: #e7e5d5;
}

.icon-reel-images {
	overflow: hidden;
	padding: 0 0 60px 0;
	white-space: nowrap;
}

.icon-reel-images:hover .reel-image {
	animation-play-state: paused;
} 

.landing-icon:hover {
	animation-name: bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/*.width-control {
	width: 30%;
}
*/
.landing-scroll {
	opacity: 1;
	width: 100%;
	background: #e7e5d5;
}

.centering {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*.landing > div > a > img {
	 width: 100%;
}*/

.croeso {
	width: 30%;
	opacity: 1;
	display: flex;
	justify-content: center;
	transition: opacity 1s ease;
	transition-delay: 1s;
}

.croeso img {
	width: 100%;
}

/*.no-bounce {
	animation-name: small-bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}*/

/*.man-clicked {
	width: 50px;
	transition: width 6s;
}*/

/* admin dashboard  */

.admin {
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dash {
	width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
}

/* shop page and general headers */

.shop-header {
	background: #e7e5d5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0 2rem 0;
  margin: 0;
}

.shop-top {
	position: fixed;
	top: 0;
	z-index: 100;
}

.header-div {
	display: flex;
}

.header-icons {
	justify-content: space-evenly;
  align-items: center;
  margin: 0 0 50px 0;
  display: flex;
}

.header-icon {
	width: 10%;
	animation-name: bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;}

.header-icon img {
	width: 100%;
}

.shop-heading {
	width: 20%;
	margin: 0 20px;
	transition: transform 0.5s ease;
}

.shop-heading:hover {
	transform: translateY(-10px);
}

.shop-heading img {
	width: 100%;
}

.shop-header > div {
	text-align: center;
}

.shop-header > div > h1 > a {
	text-transform: uppercase;
	font-size: 4rem;
	font-family: "Karla", sans-serif;
	font-weight: 900;
/*	color: #26FF9A;*/
/*	color: #268BFF;*/
/*color: #ff9a26*/
}

.shop-header > div > h1 {
	text-transform: uppercase;
	font-size: 4rem;
	font-family: "Karla", sans-serif;
	font-weight: 900;
	padding: 0;
/*	color: #26FF9A;*/
/*	color: #268BFF;*/
/*color: #ff9a26*/
}

.shop-header > div > h1 > a:hover {
	cursor: pointer;
	color: #0065d9;
}

.category-display {
	display: flex;
	justify-content: center;
	margin: 0;
}

.category-display > div {
	width: 100%;
	text-align: center;
}

.category-display > div > h2 {
	display: inline;
	padding: 1rem;
	white-space: nowrap;
}

.category-display > div > h2 > a {
	text-decoration: none;
	color: black;
}

.category-display > div > h2 > a:hover {
	cursor: pointer;
	font-weight: 1000;
	color: #0065d9;
}

.shop-display {
	padding: 0 2rem 2rem 5rem;
}

.shop-display > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.shop-display > .no-items {
  justify-content: center;
  margin: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item {
	display: flex;
	width: 50%;
	margin: 3rem 0 3rem 0;
}

.shop-item > a {
	display: flex;
}

.item-image-box {
	width: 50%;
	position: relative;
}

.sold-out-badge {
	position: absolute;
	right: 10px;
	top: 8px;
	text-align: center;
	color: white;
  background: black;
  width: 30%;
  text-transform: uppercase;
}

.sale-badge {
	position: absolute;
	right: 10px;
	top: 8px;
	text-align: center;
	color: white;
  background: red;
  width: 20%;
  text-transform: uppercase;
}

.shop-image {
	width: 100%;
	transition: transform .2s;
}

/* commission form page */

.commission-heading {
	width: 30%;
	margin: 0 20px;
	transition: transform 0.5s ease;
}

.commission-heading:hover {
	transform: translateY(-10px);
}

.commission-heading img {
	width: 100%;
}

/* shop and product page stylings  */

.img-no-display {
	display: none;
}

.item-detail {
	width: 50%;
	margin: 0 0 0 3rem;
}

.line-through {
	text-decoration: line-through;
}

.product > .product-item > .item-detail > .mobile-view > h3 {
	text-transform: uppercase;
	margin: 0 0 3rem 0;
	font-size: 3rem;
}

.item-detail > h3 {
	text-transform: uppercase;
	margin: 0 0 3rem 0;
	font-size: 2rem;
}

.item-detail p {
	text-transform: uppercase;
}

.price {
	font-family: "Karla", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	margin: 0 0 1rem 0;
}

.view-product-sale {
	background: red;
	text-align: center;
	width: 40%;
}

.view-product-sold {
	background: black;
	text-align: center;
	width: 40%;
}

.view-product-available {
	background: #3f9c44;
	text-align: center;
	width: 40%;
}

/*.view-product-button:hover {
	background: #4eb2ff;
	cursor: pointer;
}*/

.view-product-sold > p, .view-product-sale > p, .view-product-available > p  {
	color: white;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.shop-display > .product {
	display: flex;
	justify-content: center;
}

.product-item {
	display: flex;
	width: 80%;
	margin: 3rem 0 3rem 0;
}

.quantity-box {
	margin: 2rem 0 0 0;	
}

.quantity-form {
	width: 30%;
	background: black;
	color: white;
	font-size: large;
}

.product-buttons {
	margin: 2rem 0 0 0;
}

.product-button {
	margin: 1rem 0 1rem 0;
	background: white;
	border: black solid;
	text-align: center;
	padding: 0.4rem;
	width: 40%;
	color: black;
	text-transform: uppercase;
	display: block;
}

.product-button:hover {
	background: #0065d9;
	cursor: pointer;
  box-shadow: black 6px 6px 1px 1px;
}

.product-button  {
	color: black;
	text-transform: uppercase;
	padding: 0.2rem;
}

.edit > .edit {
	color: #3f9c44;
}

.delete > .delete {
	color: red;
}

.edit {
	color: #3f9c44;
}

.delete {
	color: red;
}

.size-quantity {
	display: none;
}

/* gallery modals for products and commission images on commission form */

.modal-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-img:hover {opacity: 0.7;}

/* modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* modal content (image) */
.modal-content {
  margin: auto auto 10px auto;
  display: block;
  max-width: 50%;
}

/* caption of modal image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
}

/* animation on modals*/
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #0065d9;
  text-decoration: none;
  cursor: pointer;
}

/* modal gallery */

/* next & previous buttons on modals */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 60%;
  width: auto;
  padding: 16px 30px 16px 30px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add molly's blue color */
.prev:hover,
.next:hover {
  color: #0065d9;
}

.cursor {
  cursor: pointer;
}

.row {
	margin-bottom: 50px;
	margin-top: 10px;
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* svg wave effect - over and under on headers and footer  */

.svg-wave-under {
	white-space: nowrap;
	overflow: hidden;
}

.svg-wave-over {
	white-space: nowrap;
	overflow: hidden;
	transform: scale(1, -1);
	transition: opacity 1s ease, height 1s ease, width 1s ease;
	transition-delay: 1s;
}

.svg-wave-over-home {
	white-space: nowrap;
	overflow: hidden;
	transform: scale(1, -1);
	opacity: 1;
	height: 100px;
}

/* trolley and payment pages stylings */

.trolley-button {
	background: white;
	border: black solid;
	text-align: center;
	padding: 0.2rem;
	width: 40%;
	color: black;
	text-transform: uppercase;
	margin: 1rem 0 1rem 0;
}

.trolley-button:hover {
	background: #0065d9;
	cursor: pointer;
	box-shadow: black 6px 6px 1px 1px;
}


.shop-display > .checkout-product {
	display: flex;
	justify-content: center;
}

.shop-display > .checkout-product > .product-item {
	width: 50%;
}

.trolley-reviews {
	overflow: hidden;
	padding: 0 0 60px 0;
	white-space: nowrap;
}

.trolley-review {
	background: #f3e9d7;
	display: inline-block;
	animation: 50s slide infinite linear;
}

.trolley-p {
	display: inline-block;
	margin: 0 20px;
}

.checking-out {
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.checking-out > h3 {
	font-size: 2rem;
	margin-bottom: 0;
	display: flex;
  align-items: flex-end;
}

.checking-out > .view-product-available {
	width: 20%;
	color: white;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.checkout-header {
	display: flex;
  justify-content: center;
/*  margin: 0 0 6rem 0;*/
/*  color: #26ff9a;*/
  text-align: center;
  background: #e7e5d5;
  padding: 20px;
}

.default-font {
	display: flex;
	align-items: center;
}

.checkout-header > div > h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0 4rem;
}

.checkout-main {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
}

.checkout-main > .order-display {
	padding: 0 2rem 2rem 2rem;/*
	*/
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.order-display > .order-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.order-summary {
	text-transform: uppercase;
	padding: 1rem;
	width: 60%;
	text-align: center;
	border-right: solid;
	border-left: solid;
	border-top: solid;
}

.order-detail {
	border: solid;
	width: 60%;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.order-detail > h3 {
	text-transform: uppercase;
}

.order-total {
    width: 60%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.shipping-detail {
	  border: solid;
    width: 80%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.shipping-detail > h3 {
	text-transform: uppercase;
}

.shipping-summary {
	text-transform: uppercase;
  padding: 1rem;
  width: 80%;
  text-align: center;
  border-right: solid;
  border-left: solid;
  border-top: solid;
}

form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.form {
	width: 500px;
  max-width: 80%;
  margin-bottom: 30px;
}

.form > input::placeholder {
	font-family: "Karla", sans-serif;
	font-weight: 800;
}

.return-button {
	padding: 0.9rem;
}

.payment-main {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  margin-top: 4rem;
}

.payment-main > .payment-display {
	padding: 0 2rem 2rem 2rem;
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-display > .payment-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin-top: 1rem;
}

.payment-summary {
	text-transform: uppercase;
	padding: 1rem;
	width: 60%;
	text-align: center;
	border: solid;
}

.payment-detail {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	width: 60%;
	text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease
}

.payment-detail-display {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	max-height: 2000px; /* Set a maximum height large enough to fit content */
  opacity: 1;
}

.payment-detail > h3 {
	text-transform: uppercase;
}

.payment-total {
    width: 60%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.stripe-box {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	width: 60%;
}

.stripe-box > form > button {
  width: 40%;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  background: white;
  border: solid;
  transition: transform 0.5s ease;
}

.stripe-box > form > button:hover {
  background: #0065d9;
  transform: translateY(-10px);
  box-shadow: black 6px 6px 1px 1px;
}

.paid-display {
	width: 60%;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paid-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.paid-product > .order-summary > h2 {
	margin-bottom: 1rem;
}


.paid-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #e7e5d5; /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.logo-load {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.logo-load:hover {
	transform: translateY(-10px);
}

#logo-load > img {
	width: 100%;
}

.payment-button {
  cursor: pointer;
  transition: 0.3s;
}


/* category page stylings */

.category-header {
	display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.category-header > div {
	text-align: center;
  padding: 1rem;
  /* border-radius: 5px; */
}

.category-heading {
  text-transform: uppercase;
  font-size: 4rem;
/*  color: #ffb256;*/
}

.shop-display > .product-buttons {
	margin: 2rem 0 0 0;
	width: 100%;
	justify-content: center;
	display: flex;
}

.shop-display > .product-buttons > div {
	width: 50%;
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* commission form page  */

.form-section {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	color: black;
	margin: 2rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > .product-buttons > .product-button {
	width: 100%;
}

.past-commission-slides {
	padding: 70px 0 0 0;
	background: #e7e5d5;
}

.reel-images {
	overflow: hidden;
	padding: 0 0 60px 0;
	white-space: nowrap;
} 

.reel-image {
	display: inline-block;
	animation: 50s slide infinite linear;
}

.reel-images:hover .reel-image {
	animation-play-state: paused;
} 

.reel-image img {
	width: 300px;
	margin: 0 40px;
}

.add-commission-images {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-commission-images p {
	text-align: center;
	width: 70%;
}

/* update portfolio page */

.edit-portfolio-section {
	font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-portfolio-section h2 {
	margin: 2rem 0;
}

.edit-portfolio-section form {
	padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.edit-commission-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.edit-commission-images p {
	text-align: center;
	width: 100%;
}

.image-input-display {
		display: none;
}

.add-buttons {
  text-align: center;
  width: 50%;
  border: solid 3px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.add-buttons label {
/*	padding: 5px;*/
/*	border: 3px solid black;*/
/*	margin-left: 15px;*/
/*	margin-bottom: 20px;*/
	width: 50%;
}

.just-buttons{
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

#add-img, #minus-img {
	background-color: #0065d9;
	width: 30%;
	font-size: 1.5rem;
	border: solid;
}

#add-img:hover, #minus-img:hover {
	background: white;
	box-shadow: black 6px 6px 1px 1px;
}

.commission-button {
  background: white;
  border: black solid;
  text-align: center;
  padding: 0.2rem;
  width: 160px;
  color: black;
  text-transform: uppercase;
  display: block;
}

.commission-button:hover {
	background: #0065d9;
	cursor: pointer;
	box-shadow: black 6px 6px 1px 1px;
}

/* add product and sizes  */

.size {
	display: none;
}

.size-input-display {
	display: none;
}

.add-size-buttons {
	text-align: center;
  width: 50%;
  border: solid 3px;
  margin: 0 0 20px 0;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  display: flex;
}

#add-size, #minus-size {
  background-color: #0065d9;
  width: 30%;
  font-size: 1.5rem;
  border: solid;
}

.sale-price {
	display: none;
}

/* footer stylings */

footer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 2rem 0 0 0;
	margin: 0;
	background: #e7e5d5;
}

.footer-div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
/*	position: relative;*/
}

.subscribe-div {
	background: white;
	width: 40%;
	text-align: center;
	border: solid;
	position: absolute;
	font-size: 2rem;
	z-index: 10;
/*	animation-name: bounce;
	animation-duration: 10s;
	animation-iteration-count: infinite;*/
}

.subscribe-div > form {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.subscribe-div > form > p {
	margin: 0;
}

.subscribe-button {
	width: 15%;
	margin: 0;
	font-size: 2rem;
	color: black;
	text-transform: uppercase;
	padding: 0.2rem;
	display: block;
	text-align: center;
	border: black solid;
	background: white;
}

.subscribe-button:hover {
	background: #0065d9;
	box-shadow: black 6px 6px 1px 1px;
}

.workmen {
	display: flex;
	justify-content: center;
}

.footer-man-one {
	width: 30%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	right: -5%;
	top: -2%;
	z-index: 1;
/*	animation-name: waddle;
	animation-duration: 5s;
	animation-iteration-count: infinite;*/
}

.footer-man-one > img {
	width: 100%;
}

.footer-man-two {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
  bottom: 3%;
  left: -4%;
  z-index: 1;
/*	animation-name: waddle;
	animation-duration: 5s;
	animation-iteration-count: infinite;*/
}

.footer-man-two > img {
	width: 86%;
}


@media only screen and (max-width: 1600px) {
		.hatman-image > img {
		transform: translateY(-100px);
	}

	.hatman-scroll {
		transform: translateY(-250px);
	}
}

@media only screen and (max-width: 1386px) {

	.nav-options > li {
		width: 50%;
	}

  .view-product-sale > p, .view-product-sold > p, .view-product-available > p, .sold-out-badge {
  	font-size: 0.8rem;
  }

  .product-button, .trolley-button {
  	font-size: 0.8rem;
  }

  .order-display > .order-product {
		width: 100%;
	}

	.order-summary {
		width: 100%;
	}

	.order-detail {
		width: 100%;
	}

	.order-total {
  	width: 100%;
	}

	.shipping-detail {
    width: 100%;
	}

	.shipping-summary {
  	width: 100%;
	}

	.form {
	  	max-width: 80%;
	  	width: 500px;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 2rem 0 0 0;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 60%;
		text-align: center;
		border: solid;
		position: absolute;
	}

	.subscribe-div > form {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.subscribe-div > form > p {
		margin: 0;
	}

	.subscribe-button {
		width: 15%;
		margin: 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 30%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: -5%;
		top: 2%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: -1%;
		left: -4%;
	}

	.footer-man-two > img {
		width: 86%;
	}

}

@media only screen and (max-width: 1188px) {

	.wave-appear {
		height: 50px;
	}

	.slide-paragraph {
		font-size: 1.3rem;
	}

	.hatman-div {
		width: 100%;
		margin: 100px 0 0 0;
	}

	.hatman-scroll {
		margin: 0 0 0 0;
	}

  .view-product-sale > a, .view-product-sold > a, .view-product-available > a, .sold-out-badge {
  	font-size: 0.7rem;
  }

  .product-button, .trolley-button {
  	font-size: 0.7rem;
  }

  .sale-badge {
  	font-size: 0.8rem;
  }

  .view-product-sold, .view-product-sale, .view-product-available, .product-button, .trolley-button  {
  	width: 60%;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 2rem 0 0 0;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 60%;
		text-align: center;
		border: solid;
		position: absolute;
		font-size: 1rem;
	}

	.subscribe-div > form {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.subscribe-div > form > p {
		margin: 0;
	}

	.subscribe-button {
		width: 15%;
		margin: 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 30%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: -5%;
		top: 1%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: 1%;
		left: -4%;
	}

	.footer-man-two > img {
		width: 86%;
	}

}

@media only screen and (max-width: 1060px) {

	.alert {
		padding: 1rem;
	}

	.alert > div {
		margin: 0 1rem;

	}

	.croeso {
		width: 70%;
		opacity: 1;
		display: flex;
		justify-content: center;
		transition: opacity 1s ease;
		transition-delay: 1s;
	}	

	.width-control {
	width: 70%;
	}

	.hatman-image {
		width: 100%;
	}

	#logo-name > img {
		max-width: 100%;
	}

	.show-options {
		margin: 2rem 0 0 0;
	}

	.shop-header > div > h1 {
		font-size: 3rem;
	}

  .shop-display {
  	padding: 0 2rem 2rem 2rem;
  }

  .shop-display > .no-items {
  	margin: 0;
	}
  
  .payment-display > .payment-product {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 1rem;
	}

	.payment-summary, .payment-detail, .payment-total, .stripe-box {
		width: 90%;
	}

	.edit-commission-images {
		width: 75%;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 2rem 0 0 0;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 70%;
		text-align: center;
		border: solid;
		position: absolute;
	}

	.subscribe-div > form {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.subscribe-div > form > p {
		margin: 0;
	}

	.subscribe-button {
		width: 15%;
		margin: 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 30%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: -5%;
		top: 4%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: -3%;
		left: -4%;
	}

	.footer-man-two > img {
		width: 86%;
}


@media only screen and (max-width: 1020px) {

  .category-display {
  	margin: 0 0 1rem 0;
  }

  .shop-item {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

   .shop-item > a {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

  .item-image-box, .item-detail {
  	width: 70%;
  	margin: 0;
  }

  .item-detail {
  	margin: 1rem 0 0 0;
  }

  .sale-badge {
  	width: 15%;
  }

  .sold-out-badge {
  	width: 20%;
  }

  .view-product-sale, .view-product-sold, .view-product-available, .product-button, .trolley-button {
  	width: 40%;
  }

  .product-item {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

  .shop-display > .checkout-product > .product-item {
		width: 90%;
	}

	.checkout-main > .order-display {
    width: 80%;
	}

	.checking-out > .view-product-available {
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
	}

	.edit-portfolio-section form {
  	width: 80%;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 2rem 0 0 0;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 40%;
		text-align: center;
		border: solid;
		position: absolute;
		flex-direction: column;
		display: flex;
		font-size: 1rem;
	}

	.subscribe-div > form {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.subscribe-div > form > p {
		margin: 0;
	}

	.subscribe-button {
		width: 15%;
		margin: 0.5rem 0 0 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 30%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: -5%;
		top: 7%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: -5%;
		left: -4%;
	}

	.footer-man-two > img {
		width: 86%;
	}
}

@media only screen and (max-width: 850px) {

	.reel-image img {
		width: 200px;
	}

	.landing {
		padding: 0 0 30px 0;
	}

	.slideshow {
		padding: 30px 0 0 0;
	}

	.nav-options > li {
		width: 100%;
	}

	.checkout-header > div > h1 {
    margin: 0;
}

	.shop-header > div > h1 {
		font-size: 2rem;
	}

	.footer-man-one {
		right: -5%;
		top: 8%;	
	}

	.footer-man-two {
		bottom: -8%;
		left: -7%;
	}

}

@media only screen and (max-width: 700px) {

	.slideshow {
		padding: 50px 0 0 0;
	}

	.slide-paragraph {
		font-size: 1rem;
	}

	.reel-image img {
		width: 100px;
	}

	.icon-reel-images {
		padding: 100px 0 0 0;
	}

	.logo-div {
		width: 40%;
	}

	.landing > div {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.landing-man {
		width: 80%;
	}

	.nav-toggle-close > i {
		font-size: 2rem;
	}

	.nav-toggle-open > i {
		font-size: 2rem;
	}

	.trolley-form > a > i {
		font-size: 2rem;
	}

	.trolley-form > a > span {
		font-size: 1rem;
	}

	.checking-out {
    flex-direction: column;
	}

	.checking-out > .view-product-available {
		margin-top: 1rem;
    width: 40%;
	}


  .product > .product-item > .item-detail {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	width: 100%;
  }

  .checkout-product > .product-item > .item-detail {
  	width: 100%;
  	text-align: center;
  }

  .mobile-view {
  	width: 100%;
  	text-align: center;
  }

  .product-buttons {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

	.checkout-product >  .product-item > .item-detail > .product-buttons > .product-button {
  	width: 50%;
  }

  .product >  .product-item > .item-detail > .product-buttons > .product-button {
  	width: 100%;
  }

  .checking-out {
  	width: 100%;
  	align-items: center;
  }

  .checking-out > .view-product-available, .checking-out > h3 {
  	font-size: 1rem;
	}

	.paid-display {
		width: 80%;
	}

	.add-buttons {
	  flex-wrap: wrap;
	}

	.add-buttons label {
		margin-bottom: 20px;
		width: 100%;
	}

	.just-buttons{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	#add-img, #minus-img {
		background-color: #0065d9;
		width: 30%;
		font-size: 1.5rem;
		border: solid;
	}

	.edit-commission-images {
		width: 100%;
	}

	.commission-heading {
		width: 50%;
	}

	.shop-heading {
		width: 50%;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 90%;
		text-align: center;
		border: solid;
		position: unset;
	}

	.subscribe-div > form {
		flex-direction: column;
	}

	.subscribe-button {
		width: 15%;
		margin: 2rem 0 0 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: 1%;
		top: -21%;
		width: 50%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: 20%;
		left: -20%;
	}

	.footer-man-two > img {
		width: 86%;
	}
}

@media only screen and (max-width: 530px) {

	.alert > div {
		width: 30%;

	}

	.slideshow {
		padding: 100px 0 0 0;
	}

	.slide {
		padding: 0;
	}

	svg {
		height: 50px;
	}

	.man-clicked {
		width: 5px;
		transition: width 3s;
	}

	.logo-div {
		width: 100%;
	}

	/*.show-options {
		margin-bottom: 1rem;
	}*/

	.nav-options > li {
		font-size: 1.5rem;
		width: 100%;
	}

	.item-image-box, .item-detail {
  		width: 90%;
  	}

  .shop-header {
  	margin-bottom: 0;
  }

  .shop-header > div > h1 {
  	font-size: 1.5rem;
  }

  .shop-header > div > h1 > a {
  	font-size: 2rem;
  }

   .category-display > div > h2 {
  	padding: 0.5rem;
  }

  .category-display > div > h2 > a {
  	font-size: 1.2rem;
  }

 	.sold-out-badge {
  	font-size: 0.5rem;
  }
  .sale-badge {
  	font-size: 0.6rem;
  }

	.product > .product-item > .item-detail > .mobile-view > h3 {
		font-size: 2rem;
	}


  .view-product-sold, .view-product-sale, .view-product-available, .trolley-button {
  	width: 40%;
  }
/*
  .checkout-header {
  	margin-bottom: 2rem;
  }*/
  

  .checkout-header > div > h1 {
        font-size: 2rem;
    }

	.checkout-main > .order-display {
		width: 100%;
	}

	.shipping-detail > form > .trolley-button {
		width: 90%;
	}

	.paid-display {
		width: 100%;
	}

	.category-header {
  	margin-bottom: 0;
  }

  .category-header > div > h1 {
  	font-size: 2rem;
  }

	.shop-display > .product-buttons > div {
		width: 100%;
	}

	.shop-display > .product-buttons > div > a {
		width: 80%;
	}

	.past-commission-slides {
		margin: 0;
	}

	.reel-image img {
		width: 200px;
		margin: 0 10px;
	}

	.add-commission-images .image-input-display {
  	width: 80%;
  }

  .edit-portfolio-section form {
  	width: 100%;
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.footer-div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
/*		position: relative;*/
	}

	.subscribe-div {
		width: 90%;
		text-align: center;
		border: solid;
		font-size: 1rem;
	}

	.subscribe-button {
		width: 15%;
		margin: 0.5rem 0 0 0;
		font-size: 0.7rem;
		color: black;
		text-transform: uppercase;
		padding: 0.2rem;
		display: block;
		text-align: center;
		border: black solid;
		background: white;
	}

	.footer-man-one {
		width: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		right: 1%;
		top: -19%;
		width: 50%;	
	}

	.footer-man-one > img {
		width: 100%;
	}

	.footer-man-two {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		bottom: 21%;
		left: -20%;
	}

	.footer-man-two > img {
		width: 86%;
	}

}


