{% load static %}

* {
	margin: 0;
	padding: 0;
}

:root {
	--transition: all 0.3s linear;
}

h1, h2, h3, h4, h5 {
	font-family: "Karla", sans-serif;
	font-weight: 800;
	font-style: normal;
}

p, a, button {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	color: black;
}

.nav-div {
	display: flex;
	justify-content: space-between;
}

nav {
	margin: 2rem 0 2rem 0;
	max-height: 200px;
}

.toggle-div {
	width: 30%;
	position: relative;
}

.nav-toggle-open {
  background: white;
  border: none;
  width: 30%;
  text-align: left;
  margin-left: 1rem;
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-toggle-open:hover {
	transform: translateY(-10px);
}

.nav-toggle-open > i {
	font-size: 3rem;
}

.nav-toggle-close {
  background: white;
  border: none;
  width: 30%;
  text-align: left;
  margin-left: 1rem;
  opacity: 0;
  z-index: 0;
  position: relative;
  transition: opacity 0.5s ease;
}

.nav-toggle-close > i {
	font-size: 3rem;
}

.nav-options {
	width: 100%;
	max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  text-align: center;
  margin: 5rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-options {
	max-height: 25rem;
}

.nav-options > li {
	list-style-type: none;
	font-size: 2rem;
	margin: 1rem 0 1rem 0;
	transition: transform 0.5s ease;
	width: 30%;
}

.nav-options > li:hover {
	transform: translateY(-10px);
}

.logo-div {
	width: 30%;
	display: flex;
}

#logo-name:hover {
	transform: translateY(-10px);
}

#logo-name {
	text-align: center;
	transition: opacity 0.5s ease;
	width: 100%;
	transition: transform 0.5s ease;
}

/*#logo-man {
	text-align: center;
	opacity: 0;
	z-index: 0;
	position: relative;
	transition: opacity 0.5s ease;
	max-width: 100%;
	top: -120px
	}*/

/*.logo:hover {
  transform: translateY(-10px);
}
*/

#logo-name > img {
	max-width: 80%;
	height: auto;
	margin: 0 auto 0 auto;
}

/*#logo-man > img {
	max-width: 50%;
	height: auto;
	margin: 0 auto 0 auto;
}
*/
.trolley-form {
	display: flex;
	width: 30%;
	justify-content: flex-start;
}

.trolley-form > a {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.trolley-form > a > i {
	font-size: 3rem;
	margin-right: 1rem;
}

.trolley-form > a > span {
	font-size: 2rem;
	margin-right: 1rem;
}

.shop-header {
	display: flex;
	justify-content: center;
	margin: 0 0 2rem 0;
}

.shop-header > div {
	text-align: center;
}

.shop-header > div > h1 {
	text-transform: uppercase;
	font-size: 4rem;
/*	color: #26FF9A;*/
/*	color: #268BFF;*/
color: #ff9a26
}

.orange {
	color: #ff9a26;
}

.category-display {
	display: flex;
	justify-content: center;
	margin: 0 0 6rem 0;
}

.category-display > div {
	width: 100%;
	text-align: center;
}

.category-display > div > h2 {
	display: inline;
	padding: 1rem;
	white-space: nowrap;
}

.category-display > div > h2 > a {
	text-decoration: none;
	color: black;
}

.category-display > div > h2 > a:hover {
	cursor: pointer;
	color: #4eb2ff;
}

.shop-display {
	padding: 0 2rem 2rem 5rem;
}

.shop-display > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.shop-item {
	display: flex;
	width: 50%;
	margin: 3rem 0 3rem 0;
}

.shop-item > a {
	display: flex;
}

.item-image-box {
	width: 50%;
	position: relative;
}

.sold-out-badge {
	position: absolute;
	right: 10px;
	top: 8px;
	text-align: center;
	color: white;
  background: black;
  width: 30%;
  text-transform: uppercase;
}

.sale-badge {
	position: absolute;
	right: 10px;
	top: 8px;
	text-align: center;
	color: white;
  background: red;
  width: 20%;
  text-transform: uppercase;
}

.shop-image {
	width: 100%;
}

.modal-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/*.modal-img:hover {
	opacity: 0.7;
}
*/
.img-no-display {
	display: none;
}

.item-detail {
	width: 50%;
	margin: 0 0 0 3rem;
}

.line-through {
	text-decoration: line-through;
}

.product > .product-item > .item-detail > h3 {
	text-transform: uppercase;
	margin: 0 0 3rem 0;
	font-size: 3rem;
}

.item-detail > h3 {
	text-transform: uppercase;
	margin: 0 0 3rem 0;
	font-size: 2rem;
}

.item-detail p {
	text-transform: uppercase;
}

.price {
	font-family: "Karla", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	margin: 0 0 1rem 0;
}

.view-product-sale {
	background: red;
	text-align: center;
	width: 40%;
}

.view-product-sold {
	background: black;
	text-align: center;
	width: 40%;
}

.view-product-available {
	background: #3f9c44;
	text-align: center;
	width: 40%;
}




/*.view-product-button:hover {
	background: #4eb2ff;
	cursor: pointer;
}*/

.view-product-sold > p, .view-product-sale > p, .view-product-available > p  {
	color: white;
	text-transform: uppercase;
	font-size: 1.25rem;
}

.shop-display > .product {
	display: flex;
	justify-content: center;
}

.product-item {
	display: flex;
	width: 80%;
	margin: 3rem 0 3rem 0;
}

.quantity-box {
	margin: 60px 0 0 0;	
}

.quantity-form {
	width: 30%;
	background: black;
	color: white;
	font-size: large;
}

.product-buttons {
	margin: 2rem 0 0 0;
}

.product-button {
	margin: 1rem 0 1rem 0;
	background: white;
	border: black solid;
	text-align: center;
	padding: 0.4rem;
	width: 40%;
	color: black;
	text-transform: uppercase;
	display: block;
}

.product-button:hover {
	background: #4eb2ff;
	cursor: pointer;
}

.product-button  {
	color: black;
	text-transform: uppercase;
	padding: 0.2rem;
}

/* gallery modals */

.modal-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto auto 10px auto;
  display: block;
  max-width: 50%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #4eb2ff;
  text-decoration: none;
  cursor: pointer;
}

/* modal gallery */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 60%;
  width: auto;
  padding: 16px 30px 16px 30px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #4eb2ff;
}

.cursor {
  cursor: pointer;
}

.row {
	margin-bottom: 50px;
	margin-top: 10px;
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.trolley-button {
	background: white;
	border: black solid;
	text-align: center;
	padding: 0.2rem;
	width: 40%;
	color: black;
	text-transform: uppercase;
	margin: 1rem 0 1rem 0;
}

.trolley-button:hover {
	background: #4eb2ff;
	cursor: pointer;
}

.edit > .edit {
	color: #3f9c44;
}

.delete > .delete {
	color: red;
}

.shop-display > .checkout-product {
	display: flex;
	justify-content: center;
}

.shop-display > .checkout-product > .product-item {
	width: 50%;
}

.checking-out {
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.checking-out > h3 {
	font-size: 2rem;
	margin-bottom: 0;
	display: flex;
  align-items: flex-end;
}

.checking-out > .view-product-available {
	width: 20%;
	color: white;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.checkout-header {
	display: flex;
  justify-content: center;
  margin: 0 0 6rem 0;
}

.checkout-header > div > h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.checkout-main {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
}

.checkout-main > .order-display {
	padding: 0 2rem 2rem 2rem;/*
	*/
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.order-display > .order-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.order-summary {
	text-transform: uppercase;
	padding: 1rem;
	width: 60%;
	text-align: center;
	border-right: solid;
	border-left: solid;
	border-top: solid;
}

.order-detail {
	border: solid;
	width: 60%;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.order-detail > h3 {
	text-transform: uppercase;
}

.order-total {
    width: 60%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.shipping-detail {
	  border: solid;
    width: 80%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.shipping-detail > h3 {
	text-transform: uppercase;
}

.shipping-summary {
	text-transform: uppercase;
  padding: 1rem;
  width: 80%;
  text-align: center;
  border-right: solid;
  border-left: solid;
  border-top: solid;
}

form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 500px;
  max-width: 80%;
  margin-bottom: 30px;
}

.form > input::placeholder {
	font-family: "Karla", sans-serif;
	font-weight: 800;
}

.return-button {
	padding: 0.9rem;
}

.payment-main {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  margin-top: 4rem;
}

.payment-main > .payment-display {
	padding: 0 2rem 2rem 2rem;
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-display > .payment-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin-top: 1rem;
}

.payment-summary {
	text-transform: uppercase;
	padding: 1rem;
	width: 60%;
	text-align: center;
	border: solid;
}

.payment-detail {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	width: 60%;
	text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease
}

.payment-detail-display {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	max-height: 2000px; /* Set a maximum height large enough to fit content */
  opacity: 1;
}

.payment-detail > h3 {
	text-transform: uppercase;
}

.payment-total {
    width: 60%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.stripe-box {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	width: 60%;
}

.stripe-box > form > button {
  width: 40%;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  background: white;
  border: solid;
  transition: transform 0.5s ease;
}

.stripe-box > form > button:hover {
  background: rgb(78, 178, 255);
  transform: translateY(-10px);
}

@media only screen and (max-width: 1386px) {
  .view-product-sale > p, .view-product-sold > p, .view-product-available > p, .sold-out-badge {
  	font-size: 0.8rem;
  }

  .product-button, .trolley-button {
  	font-size: 0.8rem;
  }

  .order-display > .order-product {
		width: 100%;
	}

	.order-summary {
		width: 100%;
	}

	.order-detail {
		width: 100%;
	}

	.order-total {
  	width: 100%;
	}

	.shipping-detail {
    width: 100%;
	}

	.shipping-summary {
  	width: 100%;
	}

.form {
  	max-width: 80%;
  	width: 500px;
	}
}

@media only screen and (max-width: 1188px) {
  .view-product-sale > a, .view-product-sold > a, .view-product-available > a, .sold-out-badge {
  	font-size: 0.7rem;
  }

  .product-button, .trolley-button {
  	font-size: 0.7rem;
  }

  .sale-badge {
  	font-size: 0.8rem;
  }

  .view-product-sold, .view-product-sale, .view-product-available, .product-button, .trolley-button  {
  	width: 60%;
	}
}

@media only screen and (max-width: 1060px) {
  .shop-display {
  	padding: 0 2rem 2rem 2rem;
  }
  
  .payment-display > .payment-product {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 1rem;
	}

	.payment-summary, .payment-detail, .payment-total, .stripe-box {
		width: 90%;
	}
}

@media only screen and (max-width: 1020px) {
  
  .category-display {
  	margin: 0 0 1rem 0;
  }

  .shop-item {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

   .shop-item > a {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

  .item-image-box, .item-detail {
  	width: 70%;
  	margin: 0;
  }

  .item-detail {
  	margin: 1rem 0 0 0;
  }

  .sale-badge {
  	width: 15%;
  }

  .sold-out-badge {
  	width: 20%;
  }

  .view-product-sale, .view-product-sold, .view-product-available, .product-button, .trolley-button {
  	width: 30%;
  }

  .product-item {
  	width: 100%;
  	flex-direction: column;
  	align-items: center;
  }

  .shop-display > .checkout-product > .product-item {
		width: 90%;
	}

	.checkout-main > .order-display {
    width: 80%;
}

}

@media only screen and (max-width: 700px) {
	.checking-out {
    flex-direction: column;
	}

	.checking-out > .view-product-available {
		margin-top: 1rem;
    width: 40%;
	}
}

@media only screen and (max-width: 530px) {
	.item-image-box, .item-detail {
  		width: 90%;
  	}

  .shop-header > div > h1 {
  	font-size: 2rem;
  }

  .category-display > div > h2 > a {
  	font-size: 1.2rem;
  }

 	.sold-out-badge {
  	font-size: 0.5rem;
  }
  .sale-badge {
  	font-size: 0.6rem;
  }

  .view-product-sold, .view-product-sale, .view-product-available, .product-button, .trolley-button {
  	width: 40%;
  }

  .checking-out > .view-product-available, .checking-out > h3 {
  	font-size: 1rem;
	}

	.checkout-main > .order-display {
		width: 100%;
	}

	.shipping-detail > form > .trolley-button {
		width: 90%;
	}

}


