{% extends 'base.html' %}
{% load static %}

{% block title %}Molly ST – Active Old Commissions Dash{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<center>
			<div class="col-8">
				<br>
				<h3>Image Reel Dashboard</h3>
        <form method="post">  <!-- Ensure the method is set to POST -->
          {% csrf_token %}
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Image Name:</th>
                <th scope="col">Status:</th>
              </tr>
            </thead>
            <tbody>
              {% for image in images %}
                <tr>
                  <td><a href="{{ image.image.url }}">{{ image.image_name }}</a></td>
                  <td>
                    <label for="subscribers_{{ subscriber.id }}_is_active">Is image active:</label>
                    <input type="checkbox" name="images_{{ image.id }}_is_active" value="True "{% if image.is_active %}checked{% endif %}>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="product-buttons">
          <p>Untick the checkbox to deactivate image and then click the button to update status:</p>
          <button class="product-button" type="submit">Update Status</button>
          <a class="product-button" href="{% url 'inactive_image_reel_dash' %}">Inactive Image Reel Dashboard</a>
          <a class="product-button" href="{% url 'admin_dash' %}">Admin Dashboard</a>
        </form>
      </div>
    </center>
  </div>
</div>
{% endblock %}