{% extends 'base.html' %}
{% load static %}

{% block title %}Molly ST – About | Contact{% endblock %}

{% block content %}
	<header class="about-header">
        <div class="header-div">
            <div class="header-icons">
                <div class="header-icon">
                    <img src="{% static 'images/hand-icon-flip.png' %}">
                </div>
                <a class="about-heading" href="{% url 'create_commission' %}"><img src="{% static 'images/about-logo.png' %}"></a>
                <div class="header-icon">
                    <img src="{% static 'images/hand-icon.png' %}">
                </div>
            </div>
        </div>
    </header><div class="svg-wave-under">
        <svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {display: inline-block; animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg>
    </div>
	<section class="about-section">
	</section>
	<section class="about">
		<div class="about-div">
			<div class="image-control">
				<img src="{% static 'images/about-div.JPG' %}">
			</div>
			<h2>Hello I'm Molly, an artist based in Cardiff, Wales...</h2>
			<p>I enjoy working in a way where I am creating work that is produced on a small scale, whether that is bespoke paintings or releasing limited edition runs of printed garments, screen prints, books and cards. I try to keep everything I’m making in small quantities. I personally think there’s something special about being a part of a small group of people that own a certain piece or item from a collection.</p>
			<p>I’m currently focusing on painting my own collections for exhibiting and updating my shop collections. I am limiting the amount of portraits I take on.</p>
			<p>I’ll use the paints as my way of communicating, with the use of symbolism and colour. I enjoy bringing abstract worlds to life and painting people, attempting to provoke thought and create an atmosphere for play and connection to the self. Often in my own designs the characters will be non gender specific. I like to put animals and nature on the same playing field, attempting to subvert tradition and hierarchy, and in the process consciously expose our own human tendencies to self aggrandise. I like to create pieces of art that are dream-like, surreal states, with vibrant colours, shapes and textures..... I’ll use paints as my way of communicating</p>
		</div>
		<div class="about-image">
			<!-- <img src="{% static 'images/about-div.JPG' %}"> -->
		</div>
	</section>
	<section class="contact">
		<div class="contact-image">
			<!-- <img src="{% static 'images/contact-div.JPG' %}"> -->
		</div>
		<div class="contact-div">
			<div class="image-control">
				<img src="{% static 'images/about-background.JPG' %}">
			</div>
			<h2>Contact Details</h2>
			<p>Email me at: <a class="contact-link" href="mailto:mollystartist@gmail.com" target="_blank">mollystartist@gmail.com</a></p>
			<p>Find me on instagram at: <a class="contact-link" href="https://www.instagram.com/mollyst.art/" target="_blank">mollyst.art</a></p>
		</div>

	</section>
{% endblock %}
