{% extends 'base.html' %}

{% block content %}
<section class="form-section">
    <header class="shop-header">
        <div>
            <h1 class="shop-heading">Update {{ category.name }}</h1>
        </div>
    </header>
    <form class="category-update-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form">
            <label for="{{ product_form.name.id_for_label }}">{{ category_form.name.label }}</label>
            {{ category_form.name }}
        </div>
        <div class="product-buttons">
            <button type="submit" class="product-button">Update Category</button>
        </div>
    </form>
</section>
{% endblock %}