{% extends 'base.html' %}

{% block content %}
        <main class="add-product">
        <div class="form-header">
        <h1 class="form-title">Update {{ category.name }}</h1>
        </div>
        <form class="category-update-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-name form-group mb-2 col-3 p-3">
                <label for="{{ product_form.name.id_for_label }}">{{ category_form.name.label }}</label>
                {{ category_form.name }}
            </div>
            <button type="submit" class="publish-button">Update Product</button>
        </form>
    </main>
{% endblock %}