{% load static %}
<!-- navbar goes here -->
<nav>
    <div class="nav-div">
        <div class="toggle-div">
        <button class="nav-toggle-open">
            <i class="fa-solid fa-sliders"></i>
        </button>
        <button class="nav-toggle-close">
            <i class="fa-solid fa-square-xmark"></i>
        </button>
        </div>
        <div class="logo-div">
        <a id="logo-name" href="{% url 'index' %}"><img src="{% static 'images/logo-type.png' %}"></a>
        <a id="logo-man" class="logo-man" href="{% url 'index' %}"><img src="{% static 'images/hatlady.gif' %}"></a>
        </div>
        <form class="trolley-form">
            <a href="{% url 'trolley_summary' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="trolley-number" id="trolley_quantity">{{ trolley | length }}</span>
            </a>
        </form>
    </div>
    <ul class="nav-options">    
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'shop' %}">Shop</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'create_commission' %}">Commissions</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'write_review' %}">Review</a></li>
        {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'admin_dash' %}">Admin</a></li>
            <li class="nav-item"><a class="nav-link active" aria-label="Logout of User account" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a  class="nav-link active" href="{% url 'login_user' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>


