{% load static %}
<!-- navbar goes here -->
<nav>
    <div class="nav-div">
        <div class="toggle-div">
        <button class="nav-toggle-open">
            <i class="fa-solid fa-sliders"></i>
        </button>
        <button class="nav-toggle-close">
            <i class="fa-solid fa-square-xmark"></i>
        </button>
        </div>
        <div class="logo-div">
        <a id="logo-name" href="{% url 'index' %}"><img src="{% static 'images/logo-type.png' %}"></a>
        <a id="logo-man" class="logo-man" href="{% url 'index' %}"><img src="{% static 'images/hatman-image.gif' %}"></a>
        </div>
        <form class="trolley-form">
            <a href="{% url 'trolley_summary' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="trolley-number" id="trolley_quantity">{{ trolley | length }}</span>
            </a>
        </form>
    </div>
    <ul class="nav-options">    
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'shop' %}">Shop</a></li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link active" aria-label="Logout of User account" href="{% url 'logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'add_product' %}">Add Product</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'add_category' %}">Add Category</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                        <li><hr class="dropdown-divider" /></li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Unshipped Orders</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Newsletter</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create_newsletter' %}">Create a Newsletter</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'subscribers_dash' %}">Subscribers</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        {% if articles %}
                            {% for article in articles %}
                                {% if article.is_published %}
                                    <li><a class="dropdown-item" href="{% url 'newsletter' article.id %}">{{ article.title }}</a></li>
                                    {% if not forloop.last %}
                                        <li><hr class="dropdown-divider" /></li>
                                    {% endif %}
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'draft_newsletter' article.id %}">{{ article.title }} (draft)</a></li>
                                    {% if not forloop.last %}
                                        <li><hr class="dropdown-divider" /></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li><p>No Newsletters yet.</p></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Commissions</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create_commission' %}">Send me a Commission</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        {% if user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'old_commission_image_upload' %}">Upload Old Commission Image</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'image_reel_dash' %}">Old Commission Images Table</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% if not user.is_authenticated %}
                <li class="nav-item"><a  class="nav-link active" href="{% url 'login_user' %}">Login</a></li>
            {% endif %}
        </li>
    </ul>
</nav>


