{% load static %}
<!-- navbar goes here -->
<nav>
    <div class="nav-div">
        <div class="toggle-div">
        <button class="nav-toggle-open">
            <img src="{% static 'images/dice.png' %}">
        </button>
        <button class="nav-toggle-close">
            <img src="{% static 'images/Second_Dice_.png' %}">
        </button>
        </div>
        <div class="logo-div">
        <a id="logo-name" href="{% url 'index' %}"><img src="{% static 'images/logo-type.png' %}"></a>
        <a id="logo-man" class="logo-man" href="{% url 'index' %}"><img src="{% static 'images/hatlady.gif' %}"></a>
        </div>
        <form class="trolley-form">
            <a href="{% url 'trolley_summary' %}">
                <img src="{% static 'images/New_Trolley_.png' %}">
                <span class="trolley-number" id="trolley_quantity">{{ trolley | length }}</span>
            </a>
        </form>
        <div class="logo-div-mobile">
            <a id="logo-name-mobile" href="{% url 'index' %}"><img src="{% static 'images/logo-type.png' %}"></a>
            <a id="logo-man-mobile" class="logo-man-mobile" href="{% url 'index' %}"><img src="{% static 'images/hatlady.gif' %}"></a>
        </div>
    </div>
    <ul class="nav-options"> 
        {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'admin_dash' %}">Admin</a></li>
        {% endif %}   
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'shop' %}">Shop</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'portfolio_title_page' %}">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'create_commission' %}">Commissions</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'write_review' %}">Review</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'about' %}">About | Contact</a></li>
        <li class="nav-item"><a class="nav-link active" href="https://www.instagram.com/mollyst.art/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        {% if user.is_superuser %}
            <li class="nav-item"><a class="nav-link active" aria-label="Logout of User account" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>
</nav>


