{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="shop-header">
    <div>
        <h1>Update {{ product.name }}</h1>
    </div> 
</header>
<section class="form-section">
    <form class="product-update-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form">
            {{ product_form.as_p }}
        </div>
        {{ size_formset.management_form }}
            {% for form in size_formset %}
                <div class="form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        <div class="product-buttons">
            <button type="submit" class="product-button">Update Product</button>
        </div>
    </form>
</section>
{% endblock %}