{% extends 'base.html' %}
{% load shop_filters %}
{% block content %}
  <section class="shop-display">
    <div class="product">    
      <div class="product-item">
        {% if product.is_sale %}
          <div class="item-image-box">
            <!-- sale badge -->
            <p class="sale-badge">Sale</p>
            <!-- Product image-->
            <img class="shop-image modal-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% if product.image2 %}
              <img class="img-no-display modal-img" src="{{ product.image2.url }}" alt="..." />
            {% endif %}
            {% if product.image3 %}
              <img class="img-no-display modal-img" src="{{ product.image3.url }}" alt="..." />
            {% endif %}
            {% if product.image4 %}
              <img class="img-no-display modal-img" src="{{ product.image4.url }}" alt="..." />
            {% endif %}
          </div>
          <!-- Product details-->
          <div class="item-detail">
            <!-- Product name-->
            <h3>{{ product.name }}</h3>
            <!-- Product price-->
            <p>{{ product.description }}</p>
            <p class="line-through">£{{ product.price }}</p>
            <h4 class="price">£{{ product.sale_price }}</h4>
        {% elif product.is_sold_out %}
          <div class="item-image-box">
            <!-- sold out badge -->
            <p class="sold-out-badge">Sold Out</p>
            <!-- Product image-->
            <img class="shop-image modal-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% if product.image2 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image2.url }}" alt="..." />
            {% endif %}
            {% if product.image3 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image3.url }}" alt="..." />
            {% endif %}
            {% if product.image4 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image4.url }}" alt="..." />
            {% endif %}
          </div>
          <!-- Product details-->
          <div class="item-detail">
            <h3 class="line-through">{{ product.name }}</h3>
            <!-- Product price-->
            <p>{{ product.description }}</p>
            <h4 class="price">£{{ product.price }}</h4>
        {% else %}
          <div class="item-image-box">  
            <!-- Product image-->
            <img class="shop-image modal-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% if product.image2 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image2.url }}" alt="..." />
            {% endif %}
            {% if product.image3 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image3.url }}" alt="..." />
            {% endif %}
            {% if product.image4 %}
              <img class="img-no-display modal-img cursor" src="{{ product.image4.url }}" alt="..." />
            {% endif %}
          </div>
          <!-- Product details-->
          <div class="item-detail">
            <!-- Product name-->
            <h3>{{ product.name }}</h3>
            <!-- Product price-->
            <p>{{ product.description }}</p>
            <h4 class="price">£{{ product.price }}</h4>
        {% endif %}
        {% if not product.is_sold_out %}
          <div class="quantity-box">
            <h5 class="price">Quantity:</h5>
              <select id="qty-trolley" class="quantity-form">
                {% for i in product.quantity|range %}
                  <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                {% endfor %}
              </select>
          </div>
        {% endif %}
        <div class="product-buttons edit delete">
          {% if not product.is_sold_out and product.id|stringformat:"s" not in trolley.trolley %}
            <button type="button" value="{{ product.id }}" class="trolley-button" id="add-trolley">Add to Trolley</button>
          {% endif %}
          {% if product.id|stringformat:"s" in trolley.trolley %}
            <a class="product-button" href="{% url 'trolley_summary' %}">Go to Trolley</a>
          {% endif %}
            <a class="product-button" href="{% url 'shop' %}">Molly's Shop</a>
          {% if user.is_superuser %}
            <a class="edit product-button" href="{% url 'product_update' product.id %}">Edit</a>
            <a class="delete product-button" href="{% url 'delete_product' product.id %}">Delete</a>
          {% endif %}
        </div>
          </div>
      </div>
    </div>     
  </section>
          <!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  {% if product.image2 %}
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  {% endif %}
  <div class="thumbnails row">
      {% if product.image %}
      <div class="column">
        <img class="demo cursor" src="{{ product.image.url }}" style="width:100%" onclick="currentSlide({{ 1 }})" alt="{{ product.name }}">
      </div>
      {% endif %}
      {% if product.image2 %}
      <div class="column">
        <img class="demo cursor" src="{{ product.image2.url }}" style="width:100%" onclick="currentSlide({{ 2 }})" alt="{{ product.name }}">
      </div>
      {% endif %}
      {% if product.image3 %}
      <div class="column">
        <img class="demo cursor" src="{{ product.image3.url }}" style="width:100%" onclick="currentSlide({{ 3 }})" alt="{{ product.name }}">
      </div>
      {% endif %}
      {% if product.image4 %}
      <div class="column">
        <img class="demo cursor" src="{{ product.image4.url }}" style="width:100%" onclick="currentSlide({{ 4 }})" alt="{{ product.name }}">
      </div>
      {% endif %}
    </div>
</div>

<script>
  // Check if button pressed
  $(document).on('click', '#add-trolley', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'trolley_add' %}',
        data: {
            product_id: $('#add-trolley').val(),
            product_qty: $('#qty-trolley option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
          //console.log(json)
          document.getElementById('trolley_quantity').textContent = json.qty
          location.reload();
        },
        error: function(xhr, errmsg, err){

        }
  });

});

</script>        
{% endblock %}