{% extends 'base.html' %}
{% load shop_filters %}
{% block content %}
<br><br>
<center>
<div class="container">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {% if product.is_sale %}
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}.</p>
        <!-- Product price-->
                                    <strike>
                                    £{{ product.price }}
                                    </strike>
                                    &nbsp;
                                    £{{ product.sale_price }}
                                    <br>
        {% elif product.is_sold_out %}
                                    <!-- Product name-->
                                    <strike>
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}.</p>
                                    </strike>
                                    <!-- Product price-->
                                    £{{ product.price }}
                                    &nbsp;
                                    <p>SOLD OUT</p>
                                    <br>
        {% else %}
        <!-- Product price-->
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}.</p>
                                    £{{ product.price }}
                                    <br>
                                    <!-- <br>ID: {{ product.id }} -->
        {% endif %}
        <br>
        {% if not product.is_sold_out %}
        <div class="row justify-content-center">
          <div class="col-md-4">Quantity:</div>
          <div class="col-md-3">
        <select id="qty-trolley" class="form-select form-select-sm">
          {% for i in product.quantity|range %}
  <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
          {% endfor %}
</select>
</div>
</div>
{% endif %}
        <br><br>
        {% if product.is_sold_out %}
        <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
        <a class="nav-link active" href="{% url 'product_update' product.id %}" class="btn btn-secondary">Edit</a>
        <a class="nav-link active" href="{% url 'delete_product' product.id %}" class="btn btn-secondary">Delete</a>
        {% else %}
        <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
        <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-trolley">Add to Trolley</button>
        <a class="nav-link active" href="{% url 'product_update' product.id %}" class="btn btn-secondary">Edit</a>
        <a class="nav-link active" href="{% url 'delete_product' product.id %}" class="btn btn-secondary">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
        </div>
        </center> 

<script>
  // Check if button pressed
  $(document).on('click', '#add-trolley', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'trolley_add' %}',
        data: {
            product_id: $('#add-trolley').val(),
            product_qty: $('#qty-trolley option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
          //console.log(json)
          document.getElementById('trolley_quantity').textContent = json.qty
          location.reload();
        },
        error: function(xhr, errmsg, err){

        }
  });

});

</script>        
{% endblock %}