{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="shop-header">
            <div>
                <h1 class="shop-heading">Molly's Shop</h1>
            </div>
        </header>
        <!-- Section-->
        <section class="category-display">
            <div>
                {% for category in categories %}
                    <h2><a href="{% url 'category' category %}">{{ category }}</a></h2>
                    {% if not forloop.last  %}
                    <h2>·</h2>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="shop-display">
            <div>    
                {% for product in products %}
                    {% if product.is_sale %}
                        <div class="shop-item">
                        <a href="{% url 'product' product.id %}">
                            <div class="item-image-box">
                                <!-- sale badge -->
                                <p class="sale-badge">Sale</p>
                                <!-- Product image-->
                                <img class="shop-image modal-img" src="{{ product.image.url }}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="item-detail">
                                <!-- Product name-->
                                <h3>{{ product.name }}</h3>
                                <!-- Product price-->
                                <p>{{ product.description }}</p>
                                <p class="line-through">£{{ product.price }}</p>
                                <h4 class="price">£{{ product.sale_price }}</h4>
                                <!-- Product actions-->
                                <div class="view-product-sale">
                                <p>Sale</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    {% elif product.is_sold_out %}
                        <div class="shop-item">
                            <a href="{% url 'product' product.id %}">
                            <div class="item-image-box">
                                <!-- sold out badge -->
                                <p class="sold-out-badge">Sold Out</p>
                                <!-- Product image-->
                                <img class="shop-image modal-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            </div>
                            <!-- Product details-->
                            <div class="item-detail">
                                <h3 class="line-through">{{ product.name }}</h3>
                                <!-- Product price-->
                                <p>{{ product.description }}</p>
                                <h4 class="price">£{{ product.price }}</h4>
                                <!-- Product actions-->
                                <div class="view-product-sold">
                                    <p>Sold Out</p>
                                </div>    
                            </div>
                        </a>
                        </div>
                    {% else %}
                        <div class="shop-item">
                            <a href="{% url 'product' product.id %}">
                            <div class="item-image-box">
                                <!-- Product image-->
                                <img class="shop-image modal-img" src="{{ product.image.url }}" alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="item-detail">
                                <!-- Product name-->
                                <h3>{{ product.name }}</h3>
                                <!-- Product price-->
                                <p>{{ product.description }}</p>
                                <h4 class="price">£{{ product.price }}</h4>
                                <!-- Product actions-->
                                <div class="view-product-available">
                                    <p>Available</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
{% endblock %}