{% extends 'base.html' %}
{% load static %}
{% load trolley_filters %}

{% block title %}Molly ST – Payment Details{% endblock %}

{% block content %}
<!-- Header-->
    <header class="checkout-header">
        <div class="header-icon">
            <img src="{% static 'images/payment-icon-two.png' %}">
        </div>
         <div class="default-font">
            <h1>payment details</h1>
        </div>
         <div class="header-icon">
            <img src="{% static 'images/payment-icon.png' %}">
        </div>
    </header><div class="svg-wave-under"><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {display: inline-block; animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg></div>
<section class="payment-main">
    <section class="payment-display">
        <div class="payment-product">
            <div class="payment-summary summary-toggle">
                <h2>Order Summary</h2>
            </div>
            <div class="payment-detail">
                {% for product in trolley_products %}
                    <p>Product:</p>
                    <h3>{{ product.name }}</h3>
                    {% if product.is_sale %}
                        <p>Price:</p> 
                        <h3 class="price">£{{ product.sale_price }}</h3>
                    {% else %}
                        <p>Price:</p> 
                        <h3 class="price">£{{ product.price }}</h3>
                    {% endif %}
                    {% if not product.is_size %}
                        <p>Quantity:</p>
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    <h3>{{ value }}</h3>
                                {% endif %}
                                {% if forloop.last  %}
                                    </br>
                                {% endif %}
                            {% endfor %}
                    {% else %}
                        {% for size in sizes %}
                                    <p class="value-quantity">{{ size }}:</p>
                            {% for key, value in current_trolley.items %}
                                {% if key|startswith:product.id|stringformat:"s" %}
                                    {% if value.size == size.size %}
                                        <h3>{{ value.quantity }}</h3>
                                    {% endif %}
                                {% endif %}
                                {% if forloop.last  %}
                                    </br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %} 
                    {% endif %}
                    {% if not forloop.last %}
                        <hr/ class="product-hr">
                    {% endif %}
                {% endfor %}
                <a href="{% url 'trolley_summary' %}" class="return-button trolley-button">Update Items</a>
            </div>
            <div class="payment-total">
                <p>Total:</p> 
                <h3>£{{ totals }}</h3>
            </div>
        </div>
        <br>
        <div class="payment-product">
            <div class="payment-summary summary-toggle">
                <h2>Review Delivery Details</h2>
            </div>
            <div class="payment-detail">
                <p>Name:</p>
                <h4>{{ shipping_info.shipping_full_name }}</h4>
                <p>Email:</p> 
                <h4>{{ shipping_info.shipping_email }}</h4>
                <p>Address 1:</p> 
                <h4>{{ shipping_info.shipping_address1 }}</h4>
                {% if shipping_info.shipping_address2 %}
                    <p>Address 2:</p>
                    <h4>{{ shipping_info.shipping_address2 }}</h4>
                {% endif %}
                <p>City:</p>
                <h4>{{ shipping_info.shipping_city }}</h4>
                <p>Region:</p> 
                <h4>{{ shipping_info.shipping_region }}</h4>
                <p>Postcode:</p> 
                <h4>{{ shipping_info.shipping_postcode }}</h4>
                <p>Country:</p>
                <h4>{{ shipping_info.shipping_country }}</h4>
                </br>
                <a href="{% url 'checkout' %}" class="return-button trolley-button">Update Shipping</a>
            </div>
        </div>
    </section>
    <section class=payment-display>
        <div class="payment-product">
            <div class="payment-summary">
                <h2>Pay by Card</h2>
            </div>
            <div class="stripe-box">
                <form id="payment-form" data-secret="{{ client_secret }}">
                    {% csrf_token %}
                    <div id="payment-element">
                    <!-- placeholder for Elements -->
                    </div>
                    <button class="payment-button" id="submit">Pay £{{ totals }}</button>
                    <div id="error-message">
                    <!-- Display error message to your customers here -->
                    </div>
                </form>
            </div>
        </div>
        <div class="payment-product">
            <div class="payment-summary">
                <h2>Pay with Paypal</h2>
            </div>
            <div class="stripe-box">
            {% csrf_token %}
            {{ paypal_form.render }}
            </div>
        </div>
    </section>
</section>
<div id="myLoadingModal" class="loading-modal">
    <div id="logo-load" class="logo-load">
        <h2>Your payment is processing...</h2>
        <img src="{% static 'images/hatlady.gif' %}">
    </div>
</div>
    <!-- Stripe.js -->
<script>
    const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
    const options = {
        clientSecret: '{{ client_secret }}',
        // Fully customizable with appearance API.
        appearance: {
            theme: 'flat'
        },
    };
    console.log('Client Secret:', options.clientSecret); 


    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in a previous step
    const elements = stripe.elements(options);

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');

    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        // const modal = document.getElementById("myLoadingModal");
        // modal.style.display = "flex";

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const {error} = await stripe.confirmPayment({
            //`Elements` instance that was used to create the Payment Element
            elements,
            confirmParams: {
              return_url: 'https://mollyart-production.up.railway.app/payment/payment_success',
            },
            headers: {
            'X-CSRFToken': csrftoken, // Include the CSRF token in the headers
            }
    });

    if (error) {
        // This point will only be reached if there is an immediate error when
        // confirming the payment. Show error to your customer (for example, payment
        // details incomplete)
        const messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
    } else {
        // Your customer will be redirected to your `return_url`. For some payment
        // methods like iDEAL, your customer will be redirected to an intermediate
        // site first to authorize the payment, then redirected to the `return_url`.
    }
    });

    document.addEventListener("DOMContentLoaded", function() {
    // Select all elements with the class 'value-quantity'
    let valueQuantity = document.querySelectorAll(".value-quantity");

        valueQuantity.forEach(function(value) {
            // Check if the next sibling is not an <h3> element
            if (!value.nextElementSibling || value.nextElementSibling.tagName !== 'H3') {
                // Create an <h3> element
                const h3Element = document.createElement('h3');
                h3Element.textContent = '0'; // Set the text content to '0'

                // Insert the <h3> element after the current element
                value.insertAdjacentElement('afterend', h3Element);
            }
        });
    });

</script>
{% endblock %}