{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
                <header class="checkout-header">
             <div>
                <h1 class="shop-heading">Payment Options</h1>
            </div>
        </header>
        <section class="order-display">
            <div class="order-product">
                <div class="order-summary">
                    <h2>Order Summary</h2>
                </div>
                <div class="order-detail">
                    {% for product in trolley_products %}
                        <p>Product:</p>
                        <h3>{{ product.name }}</h3>
                        {% if product.is_sale %}
                            <p>Price:</p> 
                            <h3 class="price">£{{ product.sale_price }}</h3>
                        {% else %}
                            <p>Price:</p> 
                            <h3 class="price">£{{ product.price }}</h3>
                        {% endif %}
                        <p>Quantity:</p>
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    <h3>{{ value }}</h3>
                                {% endif %}
                                {% if forloop.last  %}
                                    </br>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                    <a href="{% url 'trolley_summary' %}" class="return-button trolley-button">Update Items</a>
                </div>
                <div class="order-total">
                    <p>Total:</p> 
                    <h3>£{{ totals }}</h3>
                </div>
            </div>
        </section>
        <section class="order-display">
            <div class="order-product">
                <div class="order-summary">
                    <h2>Shipping Info</h2>
                </div>
                <div class="order-detail">
                    <p>Name:</p>
                    <h4>{{ shipping_info.shipping_full_name }}</h3>
                    <p>Email:</p> 
                    <h4>{{ shipping_info.shipping_email }}</h3>
                    <p>Address 1:</p> 
                    <h4>{{ shipping_info.shipping_address1 }}</h3>
                    {% if shipping_info.shipping_address2 %}
                        <p>Address 2:</p>
                        <h3>{{ shipping_info.shipping_address2 }}</h3>
                    {% endif %}
                    <p>City:</p>
                    <h4>{{ shipping_info.shipping_city }}</h3>
                    <p>Region:</p> 
                    <h4>{{ shipping_info.shipping_region }}</h3>
                    <p>Postcode:</p> 
                    <h4>{{ shipping_info.shipping_postcode }}</h3>
                    <p>Country:</p>
                    <h4>{{ shipping_info.shipping_country }}</h3>
                    </br>
                    <a href="{% url 'checkout' %}" class="return-button trolley-button">Update Shipping</a>
                </div>
            </div>
        </section>
        <section class="order-display">
            <div class="order-product">
                <div class="shipping-summary">
                    <h2>Billing Info</h2>
                </div>
                <div class="shipping-detail">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                            <div class="form">
                                <label for="{{ billing_form.card_name.id_for_label }}">{{ billing_form.card_name.label }}</label>
                                {{ billing_form.card_name }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_number.id_for_label }}">{{ billing_form.card_number.label }}</label>
                                {{ billing_form.card_number }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_exp_date.id_for_label }}">{{ billing_form.card_exp_date.label }}</label>
                                {{ billing_form.card_exp_date }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_cvv_number.id_for_label }}">{{ billing_form.card_cvv_number.label }}</label>
                                {{ billing_form.card_cvv_number }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_address1.id_for_label }}">{{ billing_form.card_address1.label }}</label>
                                {{ billing_form.card_address1 }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_address2.id_for_label }}">{{ billing_form.card_address2.label }}</label>
                                {{ billing_form.card_address2 }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_city.id_for_label }}">{{ billing_form.card_city.label }}</label>
                                {{ billing_form.card_city }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_region.id_for_label }}">{{ billing_form.card_region.label }}</label>
                                {{ billing_form.card_region }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_postcode.id_for_label }}">{{ billing_form.card_postcode.label }}</label>
                                {{ billing_form.card_postcode }}
                            </div>
                            <div class="form">
                                <label for="{{ billing_form.card_country.id_for_label }}">{{ billing_form.card_country.label }}</label>
                                {{ billing_form.card_country }}
                            </div>
                            <button type="submit" class="return-button trolley-button">Continue to Billing</button>
                    </form>
                </div>
            </div>
        </section>

{% endblock %}