{% extends 'base.html' %}
{% load static %}
{% load trolley_filters %}

{% block title %}Molly ST – Delivery Details{% endblock %}

{% block content %}
  
        <!-- Header-->
<header class="checkout-header">
     <div class="header-icon">
        <img src="{% static 'images/molly-house.png' %}">
    </div>
     <div class="default-font">
        <h1>delivery details</h1>
    </div>
     <div class="header-icon">
        <img src="{% static 'images/molly-house.png' %}">
    </div>
</header><div class="svg-wave-under"><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {display: inline-block; animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg><svg viewBox="0 0 1903 118" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>svg {animation: dl-wave 15s linear infinite;
        transform-origin: top;}</style><path fill="rgba(231, 229, 213, 1)" d="M 0 40 C 288.59999999999997 40 192.40000000000003 89 481 89 L 481 89 L 481 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 480 89 C 742.8 89 655.2 21 918 21 L 918 21 L 918 0 L 480 0 Z" stroke-width="0"></path> <path fill="rgba(231, 229, 213, 1)" d="M 917 21 C 1267.4 21 1150.6 97 1501 97 L 1501 97 L 1501 0 L 917 0 Z" stroke-width="0"></path><path fill="rgba(231, 229, 213, 1)" d="M 1500 97 C 1741.8 97 1661.2 40 1903 40 L 1903 40 L 1903 0 L 1500 0 Z" stroke-width="0"></path></svg></div>
<section class="checkout-main">
    <section class="order-display">
        <div class="order-product">
            <div class="order-summary">
                <h2>Order Summary</h2>
            </div>
            <div class="order-detail">
                {% for product in trolley_products %}
                    <p>Product:</p>
                    <h3>{{ product.name }}</h3>
                    {% if product.is_sale %}
                        <p>Price:</p> 
                        <h3 class="price">£{{ product.sale_price }}</h3>
                    {% else %}
                        <p>Price:</p> 
                        <h3 class="price">£{{ product.price }}</h3>
                    {% endif %}
                    {% if not product.is_size %}
                        <p>Quantity:</p>
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    <h3>{{ value }}</h3>
                                {% endif %}
                                {% if forloop.last  %}
                                    </br>
                                {% endif %}
                            {% endfor %}
                    {% else %}
                        {% for size in sizes %}
                            <p class="value-quantity">{{ size }}:</p>
                            {% for key, value in current_trolley.items %}
                                {% if key|startswith:product.id|stringformat:"s" %}
                                    {% if value.size == size.size %}
                                        <h3>{{ value.quantity }}</h3>
                                    {% endif %}
                                {% endif %}
                                {% if forloop.last  %}
                                    </br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %} 
                    {% endif %}
                    {% if not forloop.last %}
                        <hr/ class="product-hr">
                    {% endif %}
                {% endfor %}
                <a href="{% url 'trolley_summary' %}" class="return-button trolley-button">Update Items</a>
            </div>
            <div class="order-total">
                <p>Trolley Total:</p> 
                <p>£{{ totals }}</p>
                <p>Postage and Packaging:</p>
                <p>£{{ postage }}</p>
                <p>Total to Pay:</p>
                <h3>£{{ absolute_total }}</h3>
            </div>
        </div>
    </section>
    <section class="order-display">
        <div class="order-product">
            <div class="shipping-summary">
                <h2>name & address</h2>
            </div>
            <div class="shipping-detail">
                <form method="POST" action="{% url 'billing_info' %}">
                    {% csrf_token %}
                        <div class="form">
                            <label for="{{ shipping_form.shipping_full_name.id_for_label }}">{{ shipping_form.shipping_full_name.label }}</label>
                            {{ shipping_form.shipping_full_name }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_email.id_for_label }}">{{ shipping_form.shipping_email.label }}</label>
                            {{ shipping_form.shipping_email }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_address1.id_for_label }}">{{ shipping_form.shipping_address1.label }}</label>
                            {{ shipping_form.shipping_address1 }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_address2.id_for_label }}">{{ shipping_form.shipping_address2.label }}</label>
                            {{ shipping_form.shipping_address2 }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_city.id_for_label }}">{{ shipping_form.shipping_city.label }}</label>
                            {{ shipping_form.shipping_city }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_region.id_for_label }}">{{ shipping_form.shipping_region.label }}</label>
                            {{ shipping_form.shipping_region }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_postcode.id_for_label }}">{{ shipping_form.shipping_postcode.label }}</label>
                            {{ shipping_form.shipping_postcode }}
                        </div>
                        <div class="form">
                            <label for="{{ shipping_form.shipping_country.id_for_label }}">{{ shipping_form.shipping_country.label }}</label>
                            {{ shipping_form.shipping_country }}
                        </div>
                        <button type="submit" class="return-button trolley-button">Continue to Payment</button>
                </form>
            </div>
        </div>
    </section>
</section>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // Select all elements with the class 'value-quantity'
        let valueQuantity = document.querySelectorAll(".value-quantity");

        valueQuantity.forEach(function(value) {
            // Check if the next sibling is not an <h3> element
            if (!value.nextElementSibling || value.nextElementSibling.tagName !== 'H3') {
                // Create an <h3> element
                const h3Element = document.createElement('h3');
                h3Element.textContent = '0'; // Set the text content to '0'

                // Insert the <h3> element after the current element
                value.insertAdjacentElement('afterend', h3Element);
            }
        });
    });
</script>
{% endblock %}