<h1>Congrats, you have a new order from {{ order.full_name }}!</h1>
<pre>The order has been made so be sure to check the website and confirm payment.</pre>
<pre>The details of the order are listed below:</pre>
<div>
    <pre>Order Total: £{{ order.amount_paid }}</pre>
</div>
 <div>
   <pre>Date Ordered: {{ order.date_ordered }}</pre><br>
   <pre>{{ order.full_name }}</pre>
   <pre>{{ order.shipping_address }}</pre><br>
      {% for item in items %}
         <pre>Item: {{ item.product }}</pre>
         {% if item.is_size %}
            <pre>{{ item.size }}</pre>
         {% else %}
            <pre>Quantity: {{ item.quantity }}</pre>
            <pre>Price: £{{ item.price }}</pre>
         {% endif %}
      {% endfor %}
</div>
