<h1>Thank you {{ order.full_name }} for your purchase!</h1>
<pre>Your order has been made and will now be processed.</pre>
<pre>Please see the details of your order below:</pre>
<div>
   <pre>Trolley Total: £{{ order.trolley_totals }}</pre>
   <pre>Postage and Packaging: {{ order.postage_cost }}</pre>
   <pre>Order Total: £{{ order.amount_paid }}</pre>
</div>
 <div>
   <pre>Date Ordered: {{ order.date_ordered }}</pre><br>
   <pre>{{ order.full_name }}</pre>
   <pre>{{ order.shipping_address }}</pre><br>
      {% for item in items %}
         <pre>Item: {{ item.product }}</pre>
         {% if item.is_size %}
            <pre>{{ item.size }}</pre>
         {% else %}
            <pre>Quantity: {{ item.quantity }}</pre>
            <pre>Price: £{{ item.price }}</pre>
         {% endif %}
      {% endfor %}
</div>
<pre>Many thanks again!</pre>
<pre>Molly ST</pre>
