{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="shop-header">
        <div>
           	<h1 class="shop-heading">Payment Failed</h1>
        </div>
    </header>
    <main class="checkout-main">
        <section class="paid-display">
            <div class="paid-product">
                <div class="order-summary">
                    <h2>Sorry... that didn't work.</h2>
                </div>
                <div class="order-detail">
                	<div class="paid-buttons edit delete">
                		<a class="product-button" href="{% url 'shop' %}">Molly's Shop</a>
                	</div>
                </div>
            </div>
       	</section>
    <main class="checkout-main">
{% endblock %}