<h1>Hello {{ order.full_name }}</h1>
<pre>Your order has been shipped and will arrive soon.</pre>
<pre>I'd really appreciate it if you could leave me a review when your delivery arrives - <a href="https://mollyart-production.up.railway.app/review/write_review/">click here</a></pre>
<pre>For now, please see the details of your order below:</pre>
<div>
    <pre>Order Total: £{{ order.amount_paid }}</pre>
</div>
 <div>
    <pre>Date Shipped: {{ order.date_shipped }}</pre><br>
    <pre>{{ order.full_name }}</pre>
    <pre>{{ order.shipping_address }}</pre><br>
    {% for item in items %}
       <pre>Item: {{ item.product }}</pre>
       <pre>Quantity: {{ item.quantity }}</pre>
       <pre>Price: £{{ item.price }}</pre>
    {% endfor %}
</div>
<pre>Many thanks again!</pre>
<pre>Molly ST</pre>



